<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Password Reset</h5>
      <p class="card-text">Please enter your email address to reset password.</p>
        <input [(ngModel)]="emailid" type="text" class="form-control" placeholder="abc***z@gmail.com"><br>
      <button href="#" class="btn btn-primary" (click)="resetpass()">Reset password</button>
    </div>
    <div class="card-footer text-muted">
      The forgot password is currently not working. We'll be fixing it soon!
    </div>
  </div>